.log-container{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    border: 2px;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);

}

.title{
    text-align: center;
}